/*NORMALIZE*/
/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/*END NORMALIZE*/

*{
    font-family: 'Heebo', sans-serif;
}

p{
    line-height: 31px;
    font-size: 18pt;
    font-weight: 400;
}

h1{
    text-align: center;
    font-weight: 900;
}


h3{
    font-size: 40px;
    line-height: 36px;
    border: 4px solid currentColor;
    padding: 30px;
}

a{
    white-space: nowrap;
}

.page-wrapper:before{
    content:"";
    background: url("../assets/stream.png");
    opacity: .12;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
}

header{
    width: 180px;
    height: 90px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    border: 5px solid rgb(0,51,204);
    text-transform: uppercase;
    color: rgb(0, 51, 204);
    box-shadow: -15px -10px 0 rgb(0,51,204);
}

header:after{
    content: "";
    position: absolute;
    top: 180px;
    left: 0;
    left: 0;
    width: 100%;
    height: 680px;
    background-color: rgb(0,51,204);
    z-index: -1;
}

.intro{
    padding-left: 8%;
    padding-right: 8%;
}

.page-wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


header[role="banner"] h2{
    left: 10%;
    right: 10%;
    top: 160px;
    position: absolute;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    min-width: 350px;
    box-shadow: 0px 5px 0 #fff,
                0px 10px 0 rgb(0,51,204),
                0px 15px 0 #fff;
}


header h2:before{
    content: "";
    width: 90px;
    height: 10px;
    background-color: #fff;
    color: black;
    
}

div.summary{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 500px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 50px;
    min-width: 380px;
    max-width: 750px;
}

.summary p:first-of-type{
    font-size: 20px;
    letter-spacing: 2px;
}

.summary p:nth-of-type(2){
    font-size: 15px;
}


.summary a{
    background-color: #fff;
    text-transform: uppercase;
    color: rgb(0,51,204);
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    box-shadow:
        -2px -2px 0 rgb(0,51,204),
        -3px -3px 0 #fff;
}


div.preamble{
    margin: 8% auto;
    width: 100%;
    color: rgb(0,51,204);
    max-width: 750px;
}

div.supporting{
    width: 100%;
    margin 0 auto;
}

.supporting div{
    box-sizing: border-box;
    padding: 8%;
    margin: 0 auto;
    display: block;
    color: rgb(0, 51, 204);
}

/*.supporting p{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: 30%;
}*/

.supporting div:nth-child(odd){
    background-color: rgb(0, 51, 204);
    color: #fff;
}

.supporting a{
    text-transform: uppercase;
    color: currentColor;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
}


footer{
    margin: 0 auto;
    width:100%;
    color: #fff;
    text-align: center;
    padding-bottom: 25px;
}

footer a{
    background-color: rgb(0,51,204);
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    box-shadow:
        -2px -2px 0 #fff,
        -3px -3px 0 rgb(0,51,204);
}

.wrapper div{
    box-sizing: border-box;
    padding: 8%;
    margin: 0 auto;
    display: block;
    background-color: #fff;
    color: rgb(0, 51, 204);
}

.wrapper div:nth-child(odd){
    background-color: rgb(0, 51, 204);
    color: #fff;
}

.wrapper{
    text-align: center;
}

.wrapper a{
    text-decoration: none;
    text-transform: uppercase;  
    color: rgb(0, 51, 204);
    font-weight: 900;
}

.wrapper div:nth-child(odd) a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.wrapper li{
    list-style: none;
    text-decoration: none;
    line-height: 40px;
    border-bottom: 1px solid currentColor;
}


@media (min-width: 800px){
    
    header[role="banner"] h2{
        top: 200px;
        font-size: 110px;
        line-height: 100px;
    }
    
    .supporting div:nth-of-type(1){
        width: 50%;
        float: left;
        display: inline;
        margin: 0;
        padding-bottom: 220px;
    }
    
    .supporting div:nth-of-type(2){
        width: 50%;
        float: right;
        display: inline;
        margin: 0;
    }
    
    .supporting div:nth-of-type(3){
       clear: both;
    }
    
    .supporting div, .wrapper div{
        padding: 4%;
    }

    div.benefits p, div.requirements p, div.benefits h3, div.requirements h3, .wrapper h3, .wrapper li{
        width: 60%;
        max-width: 750px;
        margin: 0 auto;
    }
    
    div.benefits p, div.requirements p{
        padding: 0;
    }
    
    div.benefits h3, div.requirements h3{
        margin-bottom: 20px;
    }
    
    
    
    
}